/* 초기화 */
/* backgrounc-color: fdfdfd; */
/* font-color: #998c9b;  #726973; */
*{
    margin: 0; padding: 0;
    font-family: 'Roboto', sans-serif;
    /* font color */
    color:rgb(54, 54, 54); 
    
}
li{list-style: none;}
a{
    text-decoration: none;
    display: block;
}
label{
    text-align: center;
    width: 2em;
    color:#726973;
}
.btn{
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 5em;
    height: 2em;
    font-size: 1.5em;
    border-radius: 0.5em;  
    border-style: none;
    background: linear-gradient(to left, #fcc4d1, #d7c0f8);
    /* background: linear-gradient(to left, #fcd2dc, #e3d5f7); */
    cursor: pointer;
    color: #fdfdfd;
 }
h1{
    margin-top:0em;
    margin-bottom: 2em;
}
h3{color: #726973;}
h4{color:#726973;}
/* 지울것 임시지정*/
.meno{
    height:600px;
}

/* -------------------------------------------------------------------- */
/* open */
.open{
    min-width: 100%;
    height: 1500px;
    background-color:#fff;
    position: fixed;
    z-index: 999;
    background: url(../img/open.png) no-repeat center #fff;
    top:-28em;
    display: block;
}
.open > ul{
    position: relative;
    height: 1500px;
    margin-left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    width: 380px;
}
.poen > ul::after{clear: both; content: ""; display: block;}
.open > ul > li{
    float: left;
    height: 600px;
    position: absolute;
}
.open1{
    background: url(../img/open_1.png) no-repeat center;
    width:380px;
    left:0em;
    top:32em;

}
.open2{
    background: url(../img/open_2.png) no-repeat center;
    width:380px;
    z-index: 99;
    left:0em;
    top:30em;
}
.open3{
    background: url(../img/open_3.png) no-repeat center;
    width:380px;
    left:1em;
    top:32em;
}

/* ---------------------------------------- */
#bk{
    background: url(../img/bk2.jpg) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    max-width: 568px;
    margin-left: auto;
    margin-right: auto;
}

#main_header{
    min-width: 100%;
    /* exam  */
    position: relative;
    height: 80px;
}

#main_header > .left_icon{
    float:left;
    height: 80px;
}
.left_icon::after{clear: both; content:""; display:none;}
.left_icon > .menu{
    height: 80px;
    width: 65px;
    text-align: center;
    line-height: 7em;
    float:left;
    cursor: pointer;
}
.left_icon > .logo{
    display: block;
    float: left;
    height: 80px;
    text-align: center;
    line-height: 7em;
}

.right_icon{
    float:right;
    width: 60px;
    height: 80px;
    background: url(../img/my.png) no-repeat center;
    background-size: 50PX;
    cursor: pointer;
}
.right_icon > a{
    height:80px;
}
/* manu_bar */
.menu_bar{
    position: fixed;
    width: 15em;
    height: 40em;
    background-color: rgba(255,255,255,0.9);
    top:1em;
    border-radius: 0 1em 1em 0;
    border: 0.5em solid #fff;
    /* display: none; */
    left:-25em;
    z-index: 99;
}

.menu_bar > ul{
    padding: 2em;
    padding-top:5em;
    display:block;
    height: 100%;
}
.menu_bar > ul > li{
    display:block;
    height: 2em;
    font-size: 1.5em;
}
.menu_bar > ul >li:first-child{
    margin-bottom:4em;
    font-weight: bold;
}
.menu_bar > ul > li:nth-child(5){
    margin-bottom:1em;
}

/* ---------------------------------------- */
#content{
    /* background-color: #fdfdfd; */
    /* exam  */
    height: 100%;
}
.page{
    background-color: #fdfdfd;
    margin-top:15em;
    /* exam  */
    height: 800px;
    border-radius: 5em 5em 0 0;
    padding: 2em 1em;
}
.page > h1 {
    color: #726973;
    text-align: center;
}
/* index_before ------------------------------------------- */
/* .index_before_con > h2 */


/* index ---------------------------------------------------*/
.meno{
    width: 70%;
    height: 18em;
    border-radius: 130%;
    background-color: #adc9fa;
    margin: 0 auto;
    margin-bottom: 3em;
    margin-top: 3em;
}
.index_con > h2{text-align: center;}
.meno_con{
    padding:1em;
    color: #726973;
}
.meno_con > h4{
    margin-bottom: 0.5em;
}

/* login_page -----------------------------------------------*/
.login_con > div{
    padding: 1em 1em 1em 3em;
    width: 20em;
    margin: 0 auto;
}

.login_con > div::after{clear: both; content: ""; display: block;}

.login_con > div> label{
    font-size: 2em;
    float:left;
    text-align: center;
    width: 2em;
    color:#726973;
}
.login_con > div > input{
    float: left;
    display: block;
    text-align: center;
    height: 2em;
}
.login_btn_box{
    margin: 0 auto;
}
.login_btn_box > input:first-child{margin-right: 1em;}

/* join_page ----------------------------------------------------------*/
.join_con > div{
    padding: 1em 3em 1em 0em;
    width: 20em;
    margin: 0 auto;
}
.join_con > div > label{
    float:left;
    text-align: right;
    width: 3em;
    color:#726973;
    font-size: 1.5em;
}
.last_lable{
    text-align: left;
}
.join_con > div > input{
    float: right;
    width: 15em;
    display: block;
    text-align: center;
    height: 2em;
}
.tel{
    margin-left:7em;
}
.tel>input:first-child{
    width:3em;
}
.tel>input, .tel>span{
    width:4em;
    float: left;
}
.tel > span{
    text-align: center;
    width:23px;
}

/* baby_join --------------------------------------------------------- */

.baby_join{
    margin:1em;
    float: none;
}

.baby_h3{
    margin-top: 1em;
    margin-left: 5em;
    height: 2em;
    vertical-align: middle;
}
.baby_h3 > h3{
    float: left;
}
.baby_h3 > input{
    margin-left:1em;
    margin-top:0.5em;
}
.baby_h3_top{
    margin-top:4em;
}

/* my_page-------------------------------------------------------------------- */
.my_page{
    height: 800px;
}
.my > h3{
   text-align: center;
}
.my_btn{
    font-size: 1em;
    width: 18em;
    font-weight: bold;
    color:#fdfdfd;
  
}
.my_baby{
    position: relative;
}
.my_baby > div{
    width: 100%;
    height: 2em;
    line-height: 2em;
}
.my_baby > div > h4:first-child{
    float: left;
    display: block;
}
.my_baby > div > h4:last-child{
    float: right;
    display: block;
}
.my_day{
    height: 2em;
    line-height: 2em;
}
.my_day::after{display:"block"; content: ""; clear: "both";} 
.my_day > li:first-child{
    float: left;
}
.my_day > li:last-child{
    float: right;
}
.mom{
    margin-top:2em;
}
.mom > h4{
    margin-bottom: 1em;
}
.my_footer{
    height: 200px;
}
/* video ------------------------------------ */
.video_con > h4{
    text-align: center;
    margin:1em;
    font-size: 0.8em;
}
.video_input{
    text-align: center;
    
}
.video_input > input{
    width: 20em;
    height: 2em;
    margin-bottom: 3em;
}

.video_play{
    width: 80%;
    height: 20em;
    background-color: #adc9fa;
    margin: 0 auto;


}
/* statistic --------------------------------*/
#content > h2{
    margin-left: 0.5em;
    color:#726973;
}
.st_title{
    margin-top: 2em;
}

.chart > td{
    width: 3em;
    text-align: center;
    color: #726973;
}
.statistic > table{
    border: solid #fdfdfd;
    margin: 0 auto;
}
.statistic td{
    border: solid 1px #fdfdfd;
}
.statistic tr:nth-child(even){
    background-color: #fcd2dc;
}
/* history --------------------------------- */
.alam{
    width:100%;
    height:30em;
}
.alam > ul{
    width: 100%;
    height:100%;
    position: relative
}
.alam > ul > li{
    width: 100%;
    height: 4em;
    background-color:#de87ac;
    margin:1em 0em;
    text-align: center;
    line-height: 4em;
    border-radius: 1em;
    color: #fdfdfd
}

/* baby_life ---------------------------------*/

.life_icon{
    width: 100%;
    height: 100%;
    position: relative;
}
.life_icon > li{
    float:left;
    cursor: pointer;
    margin-left: 2em;
}
.life_icon > li > img{display: block;}
.life_icon::after{clear: both; content:""; display:block;}
.life_con{
    margin-top: 2em;
}
.life_list > li > span{
    width: 10em;
    height: 100%;
    color:#fdfdfd;
}
.life_list > li > span:last-child > a{
    display: block;
    width: 30px;
    height: 100%;
    background: url(../img/close.png) center no-repeat;
    float: right;
    margin-right:1em;
    cursor: pointer;
}
/* ------------------------------------------ */
.commu table{
    border: solid 0px #ddd;
    width: 100%;
    height: 100%;
    color: #726973;
}
.commu thead{
    background-color: #fcd2dc;
}
.commu_btn{
    margin-top: 1em;
    width: 4em;
    height: 2em;
    background-color: #de87ac;
    color: #fdfdfd;
    text-align: center;
    line-height: 2em;
    border-radius: 0.5em;
}
/* commu_write------------------------------- */
.write_width{
    width: 20em;
}
.commu_write_btn{
    border-style: none;
    cursor: pointer;
}
.commu_write_btn2{
    width:7em;
}
.td_write{
    height: 10em;
}
.write_radio th{
   margin-right:3em;
}
/* ---------------------------------------- */
#footer{
    min-width: 100%;
    background-color: #f9f9f9;
    /* exam  */
    height: 100px;
} 
.my_footer{
    height:300px;
}