@font-face {
    font-family: 'BBTreeGB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 초기화 */
/* backgrounc-color: fdfdfd; */
/* font-color: #998c9b;  #726973; */
 /* background: linear-gradient(to left, #fcc4d1, #d7c0f8); */
*{
    margin: 0; padding: 0;
    font-family: 'BBTreeGB';
    /* font color */
    color:#565656;
}

li{list-style: none;}
a{
    text-decoration: none;
    display: block;
}
label{
    text-align: center;
    width: 2em;
    color:#726973;
}
.btn{
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 16em;
    height: 2em;
    font-size: 1.5em;
    border-radius: 0.5em;  
    border-style: none;
    background: linear-gradient(to left, #fcc4d1, #d7c0f8);
    /* background-color:#ff4a91; */
    
    cursor: pointer;
    color: #fdfdfd;
 }
h1{
    margin-top:0em;
    margin-bottom: 0.5em;
    text-align: center;
}
#move{ /*통계 hr*/
    width:1em;
    margin: 0 auto;
}
.commu_hr{
	width :0em;
	margin: 0 auto;
	margin-bottom:0.5em;
}
.life_hr{
	width :0em;
	margin: 0 auto;
	margin-bottom:2em;
}
h2{color: #726973;}
h3{color: #726973;}
h4{color:#726973;}
/* 지울것 임시지정*/
.meno{
    height:600px;
}

/* -------------------------------------------------------------------- */
/* open */
#open{
    min-width: 100%;
    height: 100%;
    background-size: cover;
}
#open > span{
    width:3em;
    display: block;
    position: absolute;
    bottom: 1em;

}

.open > ul{
    position: relative;
    height: 1500px;
    margin-left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    width: 380px;
}
.poen > ul::after{clear: both; content: ""; display: block;}
.open > ul > li{
    float: left;
    height: 600px;
    position: absolute;
}
.open1{
    background: url(/img/open_1.png) no-repeat center;
    width:380px;
    left:0em;
    top:32em;

}
.open2{
    background: url(/img/open_2.png) no-repeat center;
    width:380px;
    z-index: 999;
    left:0em;
    top:30em;
}
.open3{
    background: url(/img/open_3.png) no-repeat center;
    width:380px;
    z-index: 99;
    left:1em;
    top:32em;
   
}

/* ---------------------------------------- */
#bk{
    /* background: url(../img/bk.jpg) no-repeat; */
    /* background-size: 100% 100%; */
    width: 100%;
    /* height:100%; */
    height: 100%;
    /* 모바일 환경 높이 */
    position: relative;
    max-width: 568px;
    margin-left: auto;
    margin-right: auto;
}

#main_header{
    min-width: 100%;
    /* exam  */
    position: relative;
    height: 80px;
    background: url(/img/menu_top.png) no-repeat;
}

#main_header > .left_icon{
    float:left;
    height: 80px;
}
.left_icon::after{clear: both; content:""; display:none;}
.left_icon > .menu{
    height: 80px;
    width: 65px;
    text-align: center;
    line-height: 7em;
    float:left;
    cursor: pointer;
    margin-left:1em;
    /* margin-right:1em; */
}
.left_icon > .logo{
    display: block;
    float: left;
    height: 80px;
    text-align: center;
    line-height: 6em;
}

.right_icon{
    float:right;
    width: 60px;
    height: 80px;
    background: url(/img/icon_right.png) no-repeat center;
    background-size: 50PX;
    cursor: pointer;
}
.home{
    float:right;
    width: 60px;
    height: 80px;
    background: url(/img/home.png) no-repeat center;
    background-size: 50PX;
    cursor: pointer;
}

.right_icon > a{
    height:80px;
}
.home > a{
    height:80px;
}

/* ---------------------------------------- */
#content{
    /* background-color: #fdfdfd; */
    /* exam  */
    height: 100%;
}
.page{
    background-color: #fdfdfd;
    /* background-color: rgba(255,255,255,0.8); */
    margin-top:15em;
    /* exam  */
    height: 800px;
    padding: 2em 1em;
}
.page > h1 {
    color: #726973;
    text-align: center;
}

/* bottom_nav -----------------------------------------------------------*/
/* --------------------------------------------------------------------- */
.bottom_nav{
    position: fixed;
    display:block;
    width: 100%;
    height: 70px;
    bottom:0;
    background-color:#ffb9cb;
    margin-top:10em;
    z-index: 9999;
}
.bottom_nav > ul{
    width: 100%;
    height:100%;
}
.bottom_nav > ul::after{clear: both;content: "";display:block;}
.bottom_nav >  ul > li{
    float: left;
    display: block;
    width: 33%;
    text-align: center;
    line-height: 70px;
    font-size: 1.3em;
}
.bottom_nav > ul > li >a{
    color: #fdfdfd;

}
/* title=a -------------------------------------------------------------*/
/* -------------------------------------------------------------------- */
.title{
    background: url(/img/sub_title2.png) center no-repeat;
    width: 100px;
    background-size: cover;
    height: 1.4em;
    /* margin-left: -50%; */
    margin: 0 auto;
    margin-bottom:0.5em;
}

/* pop_con 팝업메시지창------------------------------------------------- */
.popup{cursor: pointer;}
.pop_bg{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-color: #ddd; */
    top:0; right:0;
    z-index: 9;
}
.pop_bg > div{
    position: absolute;
    top: 40%;
    margin-left: 50%;
    transform: translate(-50%);
    background-color:#fdfdfd;
    width: 20em;
    height: 12em;
    padding: 2em;
    border-radius: 1em;
    border: solid 1px #ddd;
    color:#888;

}

.pop_bg > div > h2{
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-bottom: 1em;
}
.pop_bg > div > form > div{
    margin-left: 50%;
    transform: translate(-50%);
    width:18em;
    height: 2em;
    float:left;
    margin-bottom:1em;
}

.pop_con1{
    margin-left:3em;
    width:10em;
    height:1.5em;
    border-radius: 0.5em;
}
.pop_con2{
    margin-left:1.5em;
    width:10em;
    height:1.5em;
    border-radius: 0.5em;
}
.pop_bg input{
    border: solid 1px #ddd;
}
/* pop_ip -------------------------------- */
.pop_ip_box >div{
    height: 9em;
}
.pop_ip_box >div >form>div{
    margin-bottom:2em;
}
.pop_ip{
    width: 21.5em;
    height: 3em;
    margin-left:0;
    padding-left:1em;
}

/* index ---------------------------------------------------*/
.meno{
    width: 100%;
    height: 20em;
    background-color: rgb(250, 244, 244);
    position: relative;
}
.index_alam{
    width: 100%;
    /* height: 3em; */
    position: relative;
    display: block;
    margin-bottom: 3em;
}
.index_alam > li:first-child{margin-top: 0em;}
.index_alam > li{
    display:block;
    margin-top:2em;
}
/* index alam color */
#index_red{background-color: #ff4a4a;}
#index_red2{color: #ff4a4a;}

#index_green{background-color: #87ded2;}
#index_green2{color: #87ded2;}

.index_con > h2{text-align: center;}
.meno_con{
    padding:1em;
    color: #726973;
    
}
.meno_con > h4{
    margin-bottom: 0.5em;
}

.meno > .play_btn{
    width: 70%;
    height: 3em;
    position: absolute;
    top:39%;
    left:15%;
    text-align: center;
    line-height: 3em;
    border-radius: 0.5em;
    cursor: pointer;
}
/* alam_pop */
#alam_pop{
    position: fixed;
    height: 5em;
    background-color: #fd5050;
    top:-81px;
    left:0;
    right:0;
    border-radius: 0.5em;
    
}
#alam_pop {padding-left: 1em;}
#alam_pop > h2{
    text-align: left;
    line-height: 3.5em;
    width: 62%;
    color:#fdfdfd;
    float: right;
}

.defecate{
    position: relative;
}
.defecate>img:nth-child(4){
    position: absolute;
    top:-13px; 
    right:5px;
}


/* login_page -----------------------------------------------*/
.login_con > div{
    padding: 1em 1em 1em 3em;
    width: 20em;
    margin: 0 auto;
}

.login_con > div::after{clear: both; content: ""; display: block;}

.login_con > div> label{
    font-size: 2em;
    float:left;
    text-align: center;
    width: 2em;
    color:#726973;
}
.login_con > div > input{
    float: left;
    display: block;
    text-align: center;
    height: 2em;
}
.login_btn_box{
    margin: 0 auto;
}
.login_btn_box > a{
    position: relative;
    float:left;
    line-height: 2em;
    text-align: center;
    margin-right: 1em;
}

.login_btn_box > input:first-child{margin-right: 1em;}

/* join_page ----------------------------------------------------------*/
.join_con > div{
    padding: 1em 3em 1em 0em;
    width: 20em;
    margin: 0 auto;
}
.join_con > div > label{
    float:left;
    text-align: right;
    width: 3em;
    color:#726973;
    font-size: 1.5em;
}
.last_lable{
    text-align: left;
}
.join_con > div > input{
    float: right;
    width: 15em;
    display: block;
    text-align: center;
    height: 2em;
}
.tel{
    margin-left:7em;
}
.tel>input:first-child{
    width:3em;
}
.tel>input, .tel>span{
    width:4em;
    float: left;
}
.tel > span{
    text-align: center;
    width:23px;
}

/* baby_join --------------------------------------------------------- */

.baby_join{
    margin:1em;
    float: none;
}

.baby_h3{
    margin-top: 1em;
    margin-left: 5em;
    height: 2em;
    vertical-align: middle;
}
.baby_h3 > h3{
    float: left;
}
.baby_h3 > input{
    margin-left:1em;
    margin-top:0.5em;
}
.baby_h3_top{
    margin-top:4em;
}

/* my_page-------------------------------------------------------------------- */
.my_page{
    height: 800px;
}
.my_page a{
    color: #de87ac;
}
.my > h3{
   text-align: center;
}

.photo > img{
    display: block;
    margin: 0 auto;
}
.my_btn{
    font-size: 1.2em;
    width: 16em;
    height: 2.3em;
    font-weight: bold;
    color:#fdfdfd;
    /* background: linear-gradient(to left, #fcc4d1, #d7c0f8); */
}
/* btn color */
.btn_color_linear{background: linear-gradient(to left, #fcc4d1, #d7c0f8); }
.btn_color{background-color: #de87ac;}

.my_baby{
    position: relative;
    margin-top:1em;
}
.my_baby > div{
    width: 100%;
    height: 2em;
    line-height: 2em;
}
.my_baby>div>h4:first-child{
    float: left;
    display: block;
}
.my_baby>div>h4:last-child{
    float: right;
    display: block;
}
.my_day{
    height: 2em;
    line-height: 2em;
}
.my_day::after{display:"block"; content: ""; clear: "both";} 
.my_day > li:first-child{
    float: left;
}
.my_day > li:last-child{
    float: right;
}
.mom{
    margin-top:2em;
    position: relative;
    margin-bottom: 3em;
}
.mom > h4{
    margin-bottom:1em;
    display: block;
}
.my_footer{
    height: 200px;
}
/* video ------------------------------------ */
.video_con > h4{
    text-align: center;
    margin:1em;
    font-size: 0.8em;
}
.video_input{
    text-align: center;
    
}
.video_input > input{
    width: 20em;
    height: 2em;
    margin-bottom: 3em;
}

.video_play{
    width: 80%;
    height: 20em;
    background-color: #adc9fa;
    margin: 0 auto;


}
/* statistic --------------------------------*/
#content{
    overflow: hidden;
}
#content > h2{
    margin-left: 0.5em;
    color:#726973;
}
.statistic > ul{
    width: 100%;
    display: block;
    margin-bottom: 3em;
    height: 70px;
    margin-left: 5%;
  
  
}
.statistic > ul::after{clear: both; content: ""; display: block;}
.statistic > ul >li{
    display: block;
    float:left;
    width: 60px;
    height: 70px;
    line-height: 2em;
    text-align: center;
    /* background: linear-gradient(to left, #fcc4d1, #d7c0f8); */
    /* background-color: #eac2e3; */
    border-radius: 0.5em;
    margin-right: 2em;
    color: #fdfdfd;
    cursor: pointer;
}

.statistic > ul >li >img{
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}
.chart{
    width: 100%;
    height: 321px;
    overflow: hidden;
}


/* history --------------------------------- */
.alam{
    width:100%;
    height:30em;
}
.alam > ul{
    width: 100%;
    position: relative
}
.alam > ul > li{
    width: 100%;
    border-radius: 1em;
    margin-top: 2em;

}
.alam_left_p{
    background-color: #ff4a91;
    color:#fdfdfd;
    text-align: center;
    line-height: 1.2em;
    border-radius: 0.5em;
    height:1.2em;
    width:4em;
    float:left;
    margin-right: 1em;
    margin-top:0.5em;
}
.alam_left_b{
    background-color: #5096e6;
    color:#fdfdfd;
    text-align: center;
    line-height: 1.2em;
    border-radius: 0.5em;
    height:1.2em;
    width:4em;
    float:left;
    margin-right: 1em;
    margin-top:0.5em;
}
.alam_left_y{
    background-color: #fbb554;
    color:#fdfdfd;
    text-align: center;
    line-height: 1.2em;
    border-radius: 0.5em;
    height:1.2em;
    width:4em;
    float:left;
    margin-right: 1em;
    margin-top:0.5em;
}
.alam_icon{
    background: url(/img/close.png) no-repeat left;
    height:30px;
    width:3em;
    float:right;
    
}
.correction{
    background: url(/img/re1.png) no-repeat right;
    height:31px;
    width:2em;
    float:right; 
}


/* baby_life ---------------------------------*/
.life_title_box{
    background-color:rgb(250, 244, 244);
    height: 17em;
    padding-top:4em;
}
.life_title{
    margin-top: 5em;
}
/* life_search */
#search{
    width: 100%;
    height:2em;
    display:block;
    margin-bottom: 3em;
}
#search > form{
    text-align: center;
}
#search > form >select{
    height:1.7em;
    margin-right:0.5em;
     font-size:1.5em
}
#search > form > input:nth-child(2){
    height:1.7em;
    width:7em;
    margin-right: 0.5em;
    padding-left: 0.5em;
    font-size:1.5em
}
#search > form > input:nth-child(3){
    height:1.7em;
    width: 3em;
    background-color: #87ded2;
    border-radius: 0.5em;
    border: none; 
    color: #fdfdfd;
    font-size:1.5em
}
.life_icon{
    width: 100%;
    height: 100%;
    position: relative;
    margin-left:10%;
 
}
.life_icon > li{
    float:left;
    cursor: pointer;
    margin-left: 1em;
}
.life_icon > li > img{display: block;}
.life_icon::after{clear: both; content:""; display:block;}
.life_con{
    margin-top: 2em;
}
.life_list > li > span{
    width: 10em;
    height: 100%;

}
.life_list > li > span:last-child > a{
    display: block;
    width: 30px;
    height: 100%;
    background: url(/img/close.png) center no-repeat;
    float: right;
    margin-right:1em;
    cursor: pointer;
    font-size: bold;
}
.meal_color{
    color:#ff4a91;
    font-weight: bold;
    display:block;
    font-size: 1.2em;
    margin-top:0.3em; 
    margin-left: 3em;
}
.meal_color >a{
    display: inline;
    margin-left: 1em;
    cursor: pointer;
}

.defecate_color{
    color:#5096e6;
    font-weight: bold;
    display:block;
    font-size: 1.2em;
    margin-top: 0.3em;
    margin-left: 3em;
    
}
.defecate_color > a{
    display: inline;
    margin-left: 1em;
    cursor: pointer;
}
.sleep_color{
    color:#fbb554;
    font-weight: bold;
    display:block;
    font-size: 1.2em;
    margin-top: 0.3em;
    margin-left: 3em;
}
.sleep_color>a{
    display: inline;
    margin-left: 1em;
    cursor: pointer;
}
/* life popup */
/* meal pop---- */
.meal_bg{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-color: #ddd; */
    top:0; right:0;
    z-index: 9;
}
.meal_bg > div{
    position: absolute;
    top: 40%;
    margin-left: 50%;
    transform: translate(-50%);
    background-color:#fdfdfd;
    width: 20em;
    height: 12em;
    padding: 2em;
    border-radius: 1em;
    border: solid 1px #ddd;
    color:#888;

}

.meal_bg > div > h2{
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-bottom: 1em;
}
.meal_bg > div > forms > div{
    margin-left: 50%;
    transform: translate(-50%);
    width:18em;
    height: 2em;
    float:left;
    margin-bottom:1em;
}
.meal_con{
    position:fixed;
    display:none;
    z-index: 9999;
}
.meal_con > forms{
    text-align: center;
    line-height: 3em;
}
.meal_con> forms > input:last-child{
    width:13em;
}
/* defe_pop------ */
.defe_bg{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-color: #ddd; */
    top:0; right:0;
    z-index: 9;
}
.defe_bg > div{
    position: absolute;
    top: 40%;
    margin-left: 50%;
    transform: translate(-50%);
    background-color:#fdfdfd;
    width: 20em;
    height: 12em;
    padding: 2em;
    border-radius: 1em;
    border: solid 1px #ddd;
    color:#888;

}

.defe_bg > div > h2{
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-bottom: 1em;
}
.defe_bg > div > forms > div{
    margin-left: 50%;
    transform: translate(-50%);
    width:18em;
    height: 2em;
    float:left;
    margin-bottom:1em;
}
.defe_con{
    position:fixed;
    display:none;
}
.defe_con > forms{
    text-align: center;
    line-height: 3em;
}
.defe_con> forms > input:last-child{
    width:13em;
}
/* sleep_pop------ */
.sleep_bg{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-color: #ddd; */
    top:0; right:0;
    z-index: 9;
}
.sleep_bg > div{
    position: absolute;
    top: 40%;
    margin-left: 50%;
    transform: translate(-50%);
    background-color:#fdfdfd;
    width: 20em;
    height: 12em;
    padding: 2em;
    border-radius: 1em;
    border: solid 1px #ddd;
    color:#888;

}

.sleep_bg > div > h2{
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-bottom: 1em;
}
.sleep_bg > div > forms > div{
    margin-left: 50%;
    transform: translate(-50%);
    width:18em;
    height: 2em;
    float:left;
    margin-bottom:1em;
}
.sleep_con{
    position:fixed;
    display:none;
}
.sleep_con > forms{
    text-align: center;
    line-height: 3em;
}
.sleep_con> forms > input:last-child{
    width:13em;
}

/* ------------------------------------------ */
.commu_table{
    border-collapse: collapse;
    /* border-top: 3px solid #888; */
    /* border-bottom: 3px solid #888; */
    width: 100%;
 

}


.commu_table> thead >tr{
    /* background-color: #fcd2dc; */
    margin-bottom: 3em;
    height: 2em;
    font-size: 1.2em;
}
.commu_table> thead >tr:nth-child(even){
	background-color:#ddd;
}

.commu_table> thead >tr>th{ 
    border-bottom: 2px solid rgb(185, 185, 185);
}

.commu_table> tbody > tr{
    height:2em;
    margin-top:2em;
}
.commu_table> tbody > tr:first-child{
    height:1em;
    
}

.commu_table> tbody >tr>td:nth-child(1){
    width: 16em;
    text-align: left;
    padding-left: 1em;
    
}
.commu_table> tbody >tr>td:nth-child(2){
    width: 10em;
    text-align: center;
    color:rgb(185, 185, 185);
}
.commu_table> tbody >tr>td:nth-child(3){
    width: 16em;
    color:rgb(185, 185, 185);
}


.commu_btn{
    margin-top: 1em;
    width: 4em;
    height: 2em;
    background-color: #87ded2;
    /* background-color:#ff4a91; */
    color: #fdfdfd;
    text-align: center;
    line-height: 2em;
    border-radius: 0.5em;
}
/* commu_write------------------------------- */
.write_radio{
    margin: 0 auto;
   
}
.write_width{
    width: 25em;
    height:3em;
    padding-left: 1em;
    border-radius: 0.5em;
}
.commu_write_btn{
    border-style: none;
    cursor: pointer;
}
.commu_write_btn2{
    width:7em;
}
.td_write{
    height: 10em;
    padding-top:0.5em;
}
.write_radio tr{
    height:3em;
}
.write_radio th{
   margin-right:3em;
   text-align: left;
   width:100%;
}
.check > th{
    width:3em;
}

/* commu_con */
.commu_con{
    border: solid 1px #888;
    border-radius: 0.5em;
    width:25em;
    height:3em;
    padding-left:0.5em;
}
.write_con{height:10em}

/* ---------------------------------------- */
#footer{
    min-width: 100%;
    background-color: #fdfdfd;
    /* exam  */
    height: 100px;
    text-align: center;
    margin-top: 5em;
} 
